
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Signin</h1>
<form action="Signin" method="post"></form>
Name<input type="text" name="name" />
<br />
Messege<input type="text" name="msg" />
<br />
Email<input type="text" name="email" />
<br />
<input type="submit" name="Signin" />