
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Calc Page!!!!!!</h1>

<form action="Ans" method="get">

    <label>No1</label><input type="text" name="n1" placeholder="Number1" />
    <br />
    <label>No2</label><input type="text" name="n2" placeholder="Number1" />
    <br />
    <input type="submit" />

</form>

