
@{
    ViewData["Title"] = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form action="AddTeacher" method="post">

        <label>Name</label><input type="text" id="" class="" placeholder="" name="name" /><br />
        <label>DOB</label><input type="text" name="dob" />
        <label>Address</label><input type="text" name="address" />
        <br />
        <input type="submit" />
    </form>
