
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h1>Studentresult</h1>
<form action="Submit" method="post"></form>
<p>Name<input type="text" name="name" /></p>
<p>Roll<input type="text" name="Roll" /></p>
<p>Mark1<input type="text" name="Mark1" /></p>
<p>mark2<input type="text" name="Mark2" /></p>
<input type="submit"  value="Result"/>

