
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h1>Studentresult</h1>

<form action="Addstudent" method="post">
<p>Name<input type="text" name="Name" /></p>
<p>DOB<input type="text" name="Dob" /></p>
<p>Address<input type="text" name="Address" /></p>
<p>Mark<input type="text" name="Marks" /></p>
<p>Totalmark<input type="text" name="TotalMark" /></p>
<input type="submit" />
</form>
