
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h1>Student Details</h1>
<form action="AddStudent" method="post">
    <p>Name<input type="text" name="name" /></p>
    <p>DOB<input type="text" name="dob" /></p>
    <p>Address<input type="text" name="address" /></p>
    <input type="submit" value="Result" />
</form>
